name: CI Tests Draft
# This duplicate ci workflow is required so the badge in the README.md is not effected by draft PRs
on:
  pull_request:
    branches:
      - main

jobs:
  build:
    if: github.event.pull_request.draft == true
    name: Ex1 (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
       python-version: ${{ matrix.python-version }}
    - name: Install Fortran (macOS)
      if: runner.os == 'macOS'
      run: |
        brew install gcc gfortran
        echo "FC=gfortran" >> $GITHUB_ENV
    - name: Install dependencies
      run: |
          python --version
          python -m pip install --upgrade pip
          pip install -e .[dev]
    - name: Test with pytest
      run: |
        pytest -p no:flakefighters --cov=src --cov-report=xml
    - name: "Upload coverage to Codecov"
      uses: codecov/codecov-action@v5
      with:
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
